<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connect"
            connectionString="Data Source=STV-D-UBT202;Initial Catalog=SCB.Surkova.Credit_approval_system;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>