<li class="nav-item">
    @Html.ActionLink("Get history of loans", "GetHistoryOfLoans", "Loan", null, new { @class = "btn btn-dark" })
    </li>
<li class="nav-item">
    @Html.ActionLink("Get currect loans", "GetCurrentLoans", "Loan", null, new { @class = "btn btn-dark" })
    </li>
