
<li class="nav-item">
    @Html.ActionLink("Profile", "GetProfile", "Users", null, new { @class = "btn btn-dark" })
</li>
<li class="nav-item">
    @Html.ActionLink("My loans", "CreateLoan", "LoanApi", null, new { @class = "btn btn-dark" })
</li>
